body {
    background-color: #222222;
    color: #ffffff;
    font-family: sans-serif;
}

a {
    color: #4372e9;
}

abbr {
    color: #dddddd;
}

button {
    cursor: pointer;
    transition:
        all 300ms,
        transform 0ms;
    border-radius: 5px;
    border-style: solid;
    background-color: #ffffff;
    border-color: #cacaca;
}

button:hover {
    background-color: #cacaca;
    border-color: #9f9f9f;
}

button:active {
    transform: scale(0.95);
}

#loginBtn {
    position: absolute;
    right: 10px;
    top: 10px;
}